/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    background: url('imagenes/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000000; 
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 10px; 
}

.logo img {
    width: 50px; 
    height: auto; 
}

.detalle {
    color: #f4f4f4;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #555;
}

/* Principal */
main {
    margin: 20px 0;
}

.introduccion {
    text-align: center;
    margin-bottom: 20px;
}

.introduccion .boton {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.introduccion .boton:hover {
    background-color: #0056b3;
}

.destacados {
    margin-top: 20px;
}

.destacados .tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contenido-listado {
    margin-top: 20px;
}

.contenido-listado .tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    border-radius: 10px;
}

.tarjeta h3 {
    margin: 10px 0;
}

.tarjeta .boton {
    display: block;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.tarjeta .boton:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
